Repository Orange-OpenSource/its-client, pull requests merged in 2023-01, with the labels that each got.

#52 1.4.0: MobilePerceivedObject RSU computation + SPATEM/MAPEM
  THIRD-PARTY.md
  licenses/LICENSE-geo (MIT).txt
  licenses/LICENSE-serde-repr (MIT).txt
  rust/Cargo.lock
  rust/its-client/Cargo.toml
  rust/libits-client/Cargo.toml
  rust/libits-client/src/monitor.rs
  rust/libits-client/src/pipeline.rs
  rust/libits-client/src/reception/exchange/collective_perception_message.rs
  rust/libits-client/src/reception/exchange/map_extended_message.rs
  rust/libits-client/src/reception/exchange/message.rs
  rust/libits-client/src/reception/exchange/mobile_perceived_object.rs
  rust/libits-client/src/reception/exchange/mod.rs
  rust/libits-client/src/reception/exchange/reference_position.rs
  rust/libits-client/src/reception/exchange/signal_phase_and_timing_extended_message.rs
  rust/libits-copycat/Cargo.toml
  rust/libits-copycat/src/lib.rs
Labels: enhancement, Rust

#54 python/its-status: re-architect main loop and data capturing
  python/its-status/its-status.cfg
  python/its-status/its_status/__init__.py
  python/its-status/its_status/collector.cellular.py
  python/its-status/its_status/collector.gnss.py
  python/its-status/its_status/collector.static.py
  python/its-status/its_status/collector.system.py
  python/its-status/its_status/collector.time_sources.py
  python/its-status/its_status/emitter.mqtt.py
  python/its-status/its_status/emitter.stdout.py
  python/its-status/its_status/main.py
  python/its-status/setup.py
Labels: enhancement, Python

#56 python/its-info: new client to send info messages
  .github/workflows/python_its-info.yml
  python/its-info/its-info.cfg
  python/its-info/its_info/__init__.py
  python/its-info/its_info/main.py
  python/its-info/setup.py
  schema/information_schema_1-2-0.json
Labels: Python
