Repository Orange-OpenSource/its-client, pull requests merged in 2023-03, with the labels that each got.

#77 python/its-client: fix acceleration
  python/its-client/its_client/cam.py
  python/its-client/its_client/mobility.py
  python/its-client/its_client/mqtt/mqtt_client.py
  python/its-client/its_client/mqtt/mqtt_worker.py
Labels: bug, Python

#78 python/its-status: collect all cellular KPIs
  python/its-status/its_status/collector.cellular.py
  python/its-status/its_status/collector.static.py
  schema/status_schema_1-2-0.json
Labels: enhancement, Python

#73 Cpm missing structs
  THIRD-PARTY.md
  rust/Cargo.lock
  rust/libits-client/Cargo.toml
  rust/libits-client/src/reception/exchange/collective_perception_message.rs
  rust/libits-client/src/reception/exchange/map_extended_message.rs
  rust/libits-client/src/reception/exchange/mobile_perceived_object.rs
  rust/libits-client/src/reception/exchange/reference_position.rs
Labels: bug, Rust
