Repository Orange-OpenSource/its-client, pull requests merged in 2024-11, with the labels that each got.

#204 python: fix issues 198 & 203
  python/its-status/its_status/collector.cellular.py
  python/its-vehicle/its_vehicle/client.py
Labels: Python

#202 Add SREM / SSEM and DSRC library JSON Schemas
  schema/dsrc_schema_1-0-0.json
  schema/srem_schema_1-0-0.json
  schema/ssem_schema_1-0-0.json
Labels: enhancement, Schema

#209 Rust client functions
  rust/examples/telemetry.rs
  rust/src/client/application.rs
  rust/src/exchange/etsi/collective_perception_message.rs
  rust/src/exchange/etsi/mobile_perceived_object.rs
Labels: Rust

#205 Rust authority bootstrap
  rust/Cargo.toml
  rust/examples/config.ini
  rust/src/client.rs
  rust/src/client/bootstrap.rs
  rust/src/client/bootstrap/bootstrap_error.rs
  rust/src/client/configuration.rs
  rust/src/client/configuration/bootstrap_configuration.rs
  rust/src/client/configuration/configuration_error.rs
  rust/src/client/configuration/geo_configuration.rs
  rust/src/client/configuration/mobility_configuration.rs
  rust/src/client/configuration/node_configuration.rs
  rust/src/client/configuration/telemetry_configuration.rs
Labels: Rust

#213 python/iot3: implement mobility SDK
  python/iot3/pyproject.toml
  python/iot3/src/iot3/mobility/__init__.py
  python/iot3/src/iot3/mobility/cam.py
  python/iot3/src/iot3/mobility/denm.py
  python/iot3/src/iot3/mobility/etsi.py
  python/iot3/src/iot3/mobility/gnss.py
  python/iot3/tests/test-iot3-mobility
  python/iot3/tests/test-iot3-mobility-gnss
  python/iot3/tests/test-iot3-mobility-message
Labels: enhancement, Python

#215 python/its-vehicle: make authentication configurable
  python/its-vehicle/its-vehicle.cfg
  python/its-vehicle/its_vehicle/main.py
Labels: Python
