Repository Orange-OpenSource/its-client, pull requests merged in 2024-09, with the labels that each got.

#144 python: implement IoT3 Core SDK
  python/iot3/LICENSE
  python/iot3/README.md
  python/iot3/pyproject.toml
  python/iot3/src/iot3/__init__.py
  python/iot3/src/iot3/core/__init__.py
  python/iot3/src/iot3/core/mqtt.py
  python/iot3/src/iot3/core/otel.py
  python/iot3/tests/test-iot3-core
  python/iot3/tests/test-iot3-core-all
  python/iot3/tests/test-iot3-core-mqtt
  python/iot3/tests/test-iot3-core-otel
Labels: Python

#143 Schema: introduce new schemas for region and neighborhood
  schema/neighbourhood_schema_1-0-0.json
  schema/region_schema_1-0-0.json
Labels: Schema

#154 github/workflows: don't upload python artefacts
  .github/workflows/python_its-client.yml
  .github/workflows/python_its-info.yml
  .github/workflows/python_its-iqm.yml
  .github/workflows/python_its-quadkeys.yml
  .github/workflows/python_its-status.yml
  .github/workflows/python_its-vehicle.yml
Labels: bug, Python

#149 python: migrate applications to use IoT3 Core SDK
  python/iot3/src/iot3/core/mqtt.py
  python/its-client/requirements.txt
  python/its-client/setup.py
  python/its-info/setup.py
  python/its-interqueuemanager/its-iqm.cfg
  python/its-interqueuemanager/its_iqm/authority/file.py
  python/its-interqueuemanager/its_iqm/authority/http.py
  python/its-interqueuemanager/its_iqm/authority/mqtt.py
  python/its-interqueuemanager/its_iqm/iqm.py
  python/its-interqueuemanager/its_iqm/main.py
  python/its-interqueuemanager/its_iqm/mqtt_client.py
  python/its-interqueuemanager/setup.py
  python/its-status/its_status/emitter.mqtt.py
  python/its-status/setup.py
  python/its-vehicle/its-vehicle.cfg
  python/its-vehicle/its_vehicle/client.py
  python/its-vehicle/its_vehicle/its/cam.py
  python/its-vehicle/its_vehicle/main.py
  python/its-vehicle/its_vehicle/mqtt.py
  python/its-vehicle/its_vehicle/tracking.py
  python/its-vehicle/setup.py
Labels: enhancement, Python
