Repository Orange-OpenSource/its-client, pull requests merged in 2024-12, with the labels that each got.

#212 Documentation
  README.md
  python/README.md
Labels: documentation

#206 Schema: harmonize mobility messages in 2.0.0 versions
  schema/cam/cam_schema_1-1-0.json
  schema/cam/cam_schema_1-1-1.json
  schema/cam/cam_schema_1-1-2.json
  schema/cam/cam_schema_1-1-3.json
  schema/cam/cam_schema_2-0-0.json
  schema/cpm/cpm_schema_1-0-0.json
  schema/cpm/cpm_schema_1-0-1.json
  schema/cpm/cpm_schema_1-1-3.json
  schema/cpm/cpm_schema_1-2-0.json
  schema/cpm/cpm_schema_1-2-1.json
  schema/cpm/cpm_schema_2-0-0.json
  schema/denm/denm_schema_1-1-0.json
  schema/denm/denm_schema_1-1-1.json
  schema/denm/denm_schema_1-1-2.json
  schema/denm/denm_schema_1-1-3.json
  schema/denm/denm_schema_2-0-0.json
  schema/information/information_schema_1-0-3.json
  schema/information/information_schema_1-0-6.json
  schema/information/information_schema_1-1-0.json
  schema/information/information_schema_1-2-0.json
  schema/information/information_schema_2-0-0.json
  schema/ls
  schema/neighbourhood/neighbourhood_schema_1-0-0.json
  schema/neighbourhood/neighbourhood_schema_2-0-0.json
  schema/region/region_schema_1-0-0.json
  schema/region/region_schema_2-0-0.json
  schema/srem/srem_schema_1-0-0.json
  schema/srem/srem_schema_2-0-0.json
  schema/ssem/ssem_schema_1-0-0.json
  schema/ssem/ssem_schema_2-0-0.json
  schema/status/status_schema_1-0-0.json
  schema/status/status_schema_1-1-0.json
  schema/status/status_schema_1-2-0.json
  schema/status/status_schema_2-0-0.json
Labels: Schema

#233 schema/cpm: fix syntax
  schema/cpm/cpm_schema_1-2-2.json
Labels: Schema

#242 java/iot3mobility: remove DENM easter-egg
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/HazardType.java
Labels: Java

#239 Schema: add MAPEM and SPATEM JSON schemas + fix DSRC references for SREM and SSEM
  schema/dsrc/dsrc_schema_1-0-0.json
  schema/dsrc/dsrc_schema_2-0-0.json
  schema/mapem/mapem_schema_2-0-0.json
  schema/spatem/spatem_schema_2-0-0.json
  schema/srem/srem_schema_1-0-0.json
  schema/srem/srem_schema_2-0-0.json
  schema/ssem/ssem_schema_1-0-0.json
  schema/ssem/ssem_schema_2-0-0.json
Labels: Schema

#229 python/iqm: allow authentication for telemetry
  python/its-interqueuemanager/its-iqm.cfg
  python/its-interqueuemanager/its_iqm/iqm.py
  python/its-interqueuemanager/its_iqm/main.py
Labels: Python

#240 schema/cpm: fix syntax
  schema/cpm/cpm_schema_2-0-1.json
Labels: Schema

#245 schema: add readme
  schema/README.md
Labels: documentation

#246 schema: SREM and SSEM version 2.0.1
  schema/srem/srem_schema_2-0-1.json
  schema/ssem/ssem_schema_2-0-1.json
Labels: Schema

#249 java/iot3mobility: add IoT3Core getter to IoT3Mobility
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/IoT3Mobility.java
Labels: Java

#227 python/iot3/mobility: implement sensor message (CPM)
  .github/workflows/python_iot3.yml
  .github/workflows/python_its-client.yml
  .github/workflows/python_its-info.yml
  .github/workflows/python_its-iqm.yml
  .github/workflows/python_its-quadkeys.yml
  .github/workflows/python_its-status.yml
  .github/workflows/python_its-vehicle.yml
  python/iot3/src/iot3/mobility/__init__.py
  python/iot3/src/iot3/mobility/cpm.py
  python/iot3/src/iot3/mobility/denm.py
  python/iot3/src/iot3/mobility/etsi.py
  python/iot3/tests/test-iot3-mobility-message
Labels: Python

#252 swift: Bootstrap library
  .github/workflows/swift.yml
  .gitignore
  swift/ITSClient/.gitignore
  swift/ITSClient/Package.swift
  swift/ITSClient/Sources/ITSClient/ITSClient.swift
  swift/ITSClient/Tests/ITSClientTests/ITSClientTests.swift
Labels: Swift
