Repository Orange-OpenSource/its-client, pull requests merged in 2024-10, with the labels that each got.

#172 Rust file header fix
  rust/Cargo.toml
  rust/benches/position.rs
  rust/examples/copycat.rs
  rust/examples/json_counter.rs
  rust/examples/telemetry.rs
  rust/src/client.rs
  rust/src/client/application.rs
  rust/src/client/application/analyzer.rs
  rust/src/client/application/pipeline.rs
  rust/src/client/configuration.rs
  rust/src/client/configuration/configuration_error.rs
  rust/src/client/configuration/mobility_configuration.rs
  rust/src/client/configuration/node_configuration.rs
  rust/src/exchange.rs
  rust/src/exchange/cause.rs
  rust/src/exchange/etsi.rs
  rust/src/exchange/etsi/collective_perception_message.rs
  rust/src/exchange/etsi/cooperative_awareness_message.rs
  rust/src/exchange/etsi/decentralized_environmental_notification_message.rs
  rust/src/exchange/etsi/map_extended_message.rs
  rust/src/exchange/etsi/mobile_perceived_object.rs
  rust/src/exchange/etsi/perceived_object.rs
  rust/src/exchange/etsi/reference_position.rs
  rust/src/exchange/etsi/signal_phase_and_timing_extended_message.rs
  rust/src/exchange/message.rs
  rust/src/exchange/message/content.rs
  rust/src/exchange/message/content_error.rs
  rust/src/exchange/message/information.rs
  rust/src/exchange/mortal.rs
  rust/src/exchange/sequence_number.rs
  rust/src/lib.rs
  rust/src/mobility.rs
  rust/src/mobility/mobile.rs
  rust/src/mobility/position.rs
  rust/src/mobility/quadtree.rs
  rust/src/mobility/quadtree/parse_error.rs
  rust/src/mobility/quadtree/quadkey.rs
  rust/src/mobility/quadtree/tile.rs
  rust/src/monitor.rs
  rust/src/transport.rs
  rust/src/transport/mqtt.rs
  rust/src/transport/mqtt/geo_topic.rs
  rust/src/transport/mqtt/geo_topic/message_type.rs
  rust/src/transport/mqtt/geo_topic/queue.rs
  rust/src/transport/mqtt/mqtt_client.rs
  rust/src/transport/mqtt/mqtt_router.rs
  rust/src/transport/mqtt/topic.rs
  rust/src/transport/packet.rs
  rust/src/transport/payload.rs
  rust/src/transport/telemetry.rs
Labels: Rust

#171 python/iqm: fix subscribing to neighbours
  python/its-interqueuemanager/its_iqm/iqm.py
Labels: Python

#173 python/iot3: implement TLS and Websockets
  python/iot3/src/iot3/core/mqtt.py
  python/iot3/tests/test-iot3-core
  python/iot3/tests/test-iot3-core-all
  python/iot3/tests/test-iot3-core-mqtt
  python/iot3/tests/test-iot3-core-otel
  python/its-info/its-info.cfg
  python/its-info/its_info/main.py
  python/its-interqueuemanager/its-iqm.cfg
  python/its-interqueuemanager/its_iqm/authority/http.py
  python/its-interqueuemanager/its_iqm/authority/mqtt.py
  python/its-interqueuemanager/its_iqm/iqm.py
  python/its-interqueuemanager/its_iqm/main.py
  python/its-status/its-status.cfg
  python/its-status/its_status/emitter.mqtt.py
  python/its-vehicle/its-vehicle.cfg
  python/its-vehicle/its_vehicle/main.py
  python/its-vehicle/its_vehicle/roi.py
Labels: enhancement, Python

#174 rust: telemetry basic auth + MQTT trust store TLS
  rust/Cargo.lock
  rust/Cargo.toml
  rust/examples/config.ini
  rust/src/client/configuration.rs
  rust/src/client/configuration/telemetry_configuration.rs
  rust/src/transport/mqtt.rs
  rust/src/transport/telemetry.rs
Labels: Rust

#180 python/vehicle: hot-fix for OpenTelemetry authentication
  python/its-vehicle/its_vehicle/main.py
Labels: Python

#179 Geo topic
  rust/examples/config.ini
  rust/src/client/configuration.rs
  rust/src/client/configuration/geo_configuration.rs
  rust/src/mobility/quadtree/quadkey.rs
  rust/src/transport/mqtt/geo_topic.rs
Labels: Rust

#175 java/iot3mobility: implement send and receive of mobility messages
  java/iot3/examples/src/main/java/com/orange/Iot3MobilityExample.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/IoT3Mobility.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/MessageBase.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/PathHistory.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/PathPoint.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/PathPosition.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/Position.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/PositionConfidence.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/PositionConfidenceEllipse.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cam/BasicContainer.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cam/CAM.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cam/HighFrequencyContainer.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cam/LowFrequencyContainer.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/CPM.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/ClassificationItem.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/DetectionArea.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/ManagementContainer.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/ObjectClassOther.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/ObjectClassSingleVru.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/ObjectClassVehicle.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/ObjectVruAnimal.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/ObjectVruBicyclist.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/ObjectVruMotorcyclist.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/ObjectVruPedestrian.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/Offset.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/OriginatingRsuContainer.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/OriginatingVehicleConfidence.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/OriginatingVehicleContainer.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/PerceivedObject.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/PerceivedObjectConfidence.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/PerceivedObjectContainer.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/SensorInformation.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/SensorInformationContainer.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/StationDataContainer.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/StationarySensorCircular.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/StationarySensorEllipse.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/StationarySensorPolygon.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/StationarySensorRadial.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/StationarySensorRectangle.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/VehicleSensor.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/cpm/VehicleSensorProperty.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/denm/ActionId.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/denm/AlacarteContainer.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/denm/DENM.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/denm/EventType.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/denm/LinkedCause.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/denm/LocationContainer.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/denm/ManagementContainer.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/denm/SituationContainer.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/roadobjects/RoadSensor.java
Labels: documentation, enhancement, Java

#178 python/iot3: extend OpenTelemetry attributes
  python/iot3/src/iot3/core/mqtt.py
  python/iot3/src/iot3/core/otel.py
Labels: enhancement, Python

#196 python/iqm: fix subscribing to neighbours, take 2
  python/its-interqueuemanager/its-iqm.cfg
  python/its-interqueuemanager/its_iqm/iqm.py
Labels: Python

#197 documentation: update general readme and contributors files, add readme to the java/iot3 package
  CONTRIBUTORS.md
  README.md
  java/iot3/README.md
Labels: documentation

#191 java/iot3mobility: fix topic root for mobility messages publication
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/IoT3Mobility.java
Labels: Java

#182 Rust MQTT telemetry
  rust/examples/copycat.rs
  rust/examples/json_counter.rs
  rust/examples/telemetry.rs
  rust/src/client/application/pipeline.rs
  rust/src/transport/mqtt/mqtt_client.rs
  rust/src/transport/mqtt/mqtt_router.rs
  rust/src/transport/telemetry.rs
Labels: Rust
