Repository Orange-OpenSource/its-client, pull requests merged in 2025-02, with the labels that each got.

#283 Java: fix road hazard handling
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/managers/RoadHazardManager.java
Labels: Java

#244 java: make telemetry optional
  java/iot3/core/src/main/java/com/orange/iot3core/IoT3Core.java
  java/iot3/core/src/main/java/com/orange/iot3core/bootstrap/BootstrapHelper.java
  java/iot3/core/src/main/java/com/orange/iot3core/clients/MqttClient.java
  java/iot3/core/src/main/java/com/orange/iot3core/clients/OpenTelemetryClient.java
  java/iot3/examples/src/main/java/com/orange/Iot3CoreExample.java
  java/iot3/examples/src/main/java/com/orange/Iot3MobilityBootstrapExample.java
  java/iot3/examples/src/main/java/com/orange/Iot3MobilityExample.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/IoT3Mobility.java
Labels: Java

#287 Fix/json format fixes
  java/iot3/examples/src/main/java/com/orange/Iot3MobilityBootstrapExample.java
  java/iot3/examples/src/main/java/com/orange/Iot3MobilityExample.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/IoT3Mobility.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/JsonKey.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/JsonValue.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/its/json/Position.java
Labels: Java

#289 java/iot3core: fix bootstrap for Android compatibility
  java/iot3/core/build.gradle
  java/iot3/core/src/main/java/com/orange/iot3core/bootstrap/BootstrapHelper.java
Labels: Java

#290 add missing Java licenses
  THIRD-PARTY.md
  licenses/LICENSE-opentelemetry-java (Apache 2.0).txt
  licenses/LICENSE-square-okhttp (Apache 2.0).txt
Labels: documentation

#294 Documentation
  rust/README.md
  rust/src/lib.rs
Labels: documentation, Rust
