Repository Orange-OpenSource/its-client, pull requests merged in 2025-01, with the labels that each got.

#256 python: fix installed scripts
  python/its-interqueuemanager/pyproject.toml
  python/its-status/pyproject.toml
  python/its-vehicle/pyproject.toml
Labels: Python

#254 swift: add MQTT client
  .github/workflows/swift.yml
  CONTRIBUTORS.md
  THIRD-PARTY.md
  licenses/LICENSE-mqtt-nio (Apache 2.0).txt
  swift/ITSClient/.swiftpm/xcode/xcshareddata/xcschemes/ITSClient.xcscheme
  swift/ITSClient/Package.resolved
  swift/ITSClient/Package.swift
  swift/ITSClient/Sources/ITSCore/MQTT/MQTTClient.swift
  swift/ITSClient/Sources/ITSCore/MQTT/MQTTClientConfiguration.swift
  swift/ITSClient/Sources/ITSCore/MQTT/MQTTClientError.swift
  swift/ITSClient/Sources/ITSCore/MQTT/MQTTMessage.swift
  swift/ITSClient/Sources/ITSCore/MQTT/MQTTNIOClient.swift
  swift/ITSClient/Tests/ITSClient.xctestplan
  swift/ITSClient/Tests/ITSCoreTests/MQTTNIOClientTests.swift
Labels: Swift

#261 rust: remove unused lifetime declaration
  rust/src/transport/mqtt/mqtt_client.rs
Labels: Rust

#263 swift: add telemetry client
  .github/workflows/swift.yml
  README.md
  THIRD-PARTY.md
  licenses/LICENSE-opentelemetry-swift (Apache 2.0).txt
  swift/ITSClient/Package.resolved
  swift/ITSClient/Package.swift
  swift/ITSClient/Sources/ITSCore/Telemetry/OpenTelemetryClient.swift
  swift/ITSClient/Sources/ITSCore/Telemetry/TelemetryClient.swift
  swift/ITSClient/Sources/ITSCore/Telemetry/TelemetryClientConfiguration.swift
  swift/ITSClient/Tests/ITSCoreTests/OpenTelemetryClientTests.swift
Labels: Swift
