Repository Orange-OpenSource/its-client, pull requests merged in 2025-05, with the labels that each got.

#343 Feature/lwm2m
  java/iot3/core/build.gradle
  java/iot3/core/src/main/java/com/orange/iot3core/IoT3Core.java
  java/iot3/core/src/main/java/com/orange/iot3core/clients/Lwm2mClient.java
  java/iot3/core/src/main/java/com/orange/iot3core/clients/lwm2m/Lwm2mClient.java
  java/iot3/core/src/main/java/com/orange/iot3core/clients/lwm2m/model/ConnectivityStatisticsUpdate.java
  java/iot3/core/src/main/java/com/orange/iot3core/clients/lwm2m/model/LocationUpdate.java
  java/iot3/core/src/main/java/com/orange/iot3core/clients/lwm2m/model/Lwm2mConfig.java
  java/iot3/core/src/main/java/com/orange/iot3core/clients/lwm2m/model/Lwm2mConnectivityStatistics.java
  java/iot3/core/src/main/java/com/orange/iot3core/clients/lwm2m/model/Lwm2mDevice.java
  java/iot3/core/src/main/java/com/orange/iot3core/clients/lwm2m/model/Lwm2mInstance.java
  java/iot3/core/src/main/java/com/orange/iot3core/clients/lwm2m/model/Lwm2mLocation.java
  java/iot3/core/src/main/java/com/orange/iot3core/clients/lwm2m/model/Lwm2mServer.java
  java/iot3/examples/src/main/java/com/orange/Iot3CoreExample.java
  java/iot3/examples/src/main/java/com/orange/Iot3MobilityExample.java
  java/iot3/examples/src/main/java/com/orange/lwm2m/model/CustomLwm2mConnectivityStatisticsExample.java
  java/iot3/examples/src/main/java/com/orange/lwm2m/model/CustomLwm2mLocationExample.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/IoT3Mobility.java
Labels: Java

#378 swift: add DENM subcause
  swift/ITSClient/Sources/ITSMobility/Mobility.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/Cause.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/SituationContainer.swift
  swift/ITSClient/Sources/ITSMobility/Observers/RoadAlarm/RoadAlarm.swift
  swift/ITSClient/Sources/ITSMobility/Observers/RoadAlarm/RoadAlarmCoordinator.swift
  swift/ITSClient/Tests/ITSMobilityTests/DENMTests.swift
  swift/ITSClient/Tests/ITSMobilityTests/Data/Denm.json
  swift/ITSClient/Tests/ITSMobilityTests/MobilityTests.swift
  swift/ITSClient/Tests/ITSMobilityTests/RoadAlarmCoordinatorTests.swift
Labels: Swift

#351 Add telemetry tls
  rust/Cargo.toml
  rust/README.md
  rust/examples/config.ini
  rust/examples/telemetry.rs
  rust/src/client/bootstrap.rs
  rust/src/client/configuration.rs
  rust/src/client/configuration/bootstrap_configuration.rs
  rust/src/client/configuration/telemetry_configuration.rs
  rust/src/transport/telemetry.rs
Labels: Rust

#381 swift: bootstrap sampleapp
  .github/workflows/swift.yml
  .gitignore
  swift/.swiftlint.yml
  swift/ITSClient.xcworkspace/contents.xcworkspacedata
  swift/ITSClient.xcworkspace/xcshareddata/swiftpm/Package.resolved
  swift/ITSClient/Sources/ITSCore/Core.swift
  swift/ITSClient/Sources/ITSCore/EquatableError.swift
  swift/ITSClient/Sources/ITSCore/MQTT/MQTTNIOClient.swift
  swift/ITSClient/Sources/ITSCore/MQTT/NetworkMonitor/NetworkMonitor.swift
  swift/ITSClient/Sources/ITSCore/Telemetry/OpenTelemetryClient.swift
  swift/ITSClient/Sources/ITSMobility/Mobility.swift
  swift/ITSClient/Sources/ITSMobility/MobilityConfiguration.swift
  swift/ITSClient/Sources/ITSMobility/Models/CAM/CAM.swift
  swift/ITSClient/Sources/ITSMobility/Models/CAM/CAMMessage.swift
  swift/ITSClient/Sources/ITSMobility/Models/CAM/HighFrequencyContainer.swift
  swift/ITSClient/Sources/ITSMobility/Models/CAM/LowFrequencyContainer.swift
  swift/ITSClient/Sources/ITSMobility/Models/Confidence.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/AlacarteContainer.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/Cause.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/DENM.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/LocationContainer.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/ManagementContainer.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/SituationContainer.swift
  swift/ITSClient/Sources/ITSMobility/Models/ETSI.swift
  swift/ITSClient/Sources/ITSMobility/Models/MessageType.swift
  swift/ITSClient/Sources/ITSMobility/Models/PathHistory.swift
  swift/ITSClient/Sources/ITSMobility/Models/SequenceNumberGenerator.swift
  swift/ITSClient/Sources/ITSMobility/Models/StationType.swift
  swift/ITSClient/Sources/ITSMobility/Observers/Cache.swift
  swift/ITSClient/Sources/ITSMobility/Observers/ChangeObserverActor.swift
  swift/ITSClient/Sources/ITSMobility/Observers/RoadAlarm/RoadAlarmChangeObserver.swift
  swift/ITSClient/Sources/ITSMobility/Observers/RoadAlarm/RoadAlarmCoordinator.swift
  swift/ITSClient/Sources/ITSMobility/Observers/RoadUser/RoadUser.swift
  swift/ITSClient/Sources/ITSMobility/Observers/RoadUser/RoadUserChangeObserver.swift
  swift/ITSClient/Sources/ITSMobility/QuadkeyBuilder.swift
  swift/ITSClient/Tests/ITSCoreTests/CoreTests.swift
  swift/ITSClient/Tests/ITSCoreTests/CoreUnitTests.swift
  swift/ITSClient/Tests/ITSCoreTests/MQTTNIOClientTests.swift
  swift/ITSClient/Tests/ITSCoreTests/NetworkManager.swift
  swift/ITSClient/Tests/ITSCoreTests/OpenTelemetryClientTests.swift
  swift/ITSClient/Tests/ITSMobilityTests/CAMTests.swift
  swift/ITSClient/Tests/ITSMobilityTests/CacheTests.swift
  swift/ITSClient/Tests/ITSMobilityTests/DENMTests.swift
  swift/ITSClient/Tests/ITSMobilityTests/FileLoader.swift
  swift/ITSClient/Tests/ITSMobilityTests/MobilityTests.swift
  swift/ITSClient/Tests/ITSMobilityTests/MockRoadAlarmCoordinatorObserver.swift
  swift/ITSClient/Tests/ITSMobilityTests/MockRoadUserCoordinatorObserver.swift
  swift/ITSClient/Tests/ITSMobilityTests/QuadkeyBuilderTests.swift
  swift/ITSClient/Tests/ITSMobilityTests/RegionOfInterestCoordinatorTests.swift
  swift/ITSClient/Tests/ITSMobilityTests/RoadAlarmCoordinatorTests.swift
  swift/ITSClient/Tests/ITSMobilityTests/RoadUserCoordinatorTests.swift
  swift/SampleApp/.swiftlint.yml
  swift/SampleApp/SampleApp.xcodeproj/project.pbxproj
  swift/SampleApp/SampleApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  swift/SampleApp/SampleApp/Assets.xcassets/AccentColor.colorset/Contents.json
  swift/SampleApp/SampleApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  swift/SampleApp/SampleApp/Assets.xcassets/Contents.json
  swift/SampleApp/SampleApp/ContentView.swift
  swift/SampleApp/SampleApp/SampleApp.swift
Labels: Swift

#386 swift: stop Core properly when an error occurs
  swift/ITSClient/Sources/ITSCore/Core.swift
  swift/ITSClient/Sources/ITSMobility/Mobility.swift
  swift/ITSClient/Sources/ITSMobility/MobilityError.swift
  swift/ITSClient/Tests/ITSCoreTests/CoreTests.swift
  swift/ITSClient/Tests/ITSCoreTests/CoreUnitTests.swift
  swift/ITSClient/Tests/ITSMobilityTests/MobilityTests.swift
  swift/SampleApp/SampleApp/Mobility/Data/ITSMobilityService.swift
  swift/SampleApp/SampleApp/Mobility/Domain/MobilityError.swift
  swift/SampleApp/SampleApp/Mobility/Domain/MobilityService.swift
  swift/SampleApp/SampleApp/Mobility/UI/MobilityView.swift
  swift/SampleApp/SampleApp/Mobility/UI/MobilityViewModel.swift
Labels: Swift

#388 swift: start Core should throw an error each time when the connection fails
  swift/ITSClient/Sources/ITSCore/Core.swift
  swift/ITSClient/Tests/ITSCoreTests/CoreTests.swift
Labels: Swift
