Repository Orange-OpenSource/its-client, pull requests merged in 2025-04, with the labels that each got.

#327 Add a collector
  .github/workflows/rust.yml
  .gitignore
  README.md
  rust/Cargo.lock
  rust/Cargo.toml
  rust/README.md
  rust/examples/collector.rs
  rust/examples/config.ini
  rust/examples/copycat.rs
  rust/examples/json_counter.rs
  rust/examples/telemetry.rs
  rust/src/client/application.rs
  rust/src/client/application/pipeline.rs
  rust/src/client/bootstrap.rs
  rust/src/client/configuration.rs
  rust/src/client/configuration/bootstrap_configuration.rs
  rust/src/client/configuration/geo_configuration.rs
  rust/src/client/configuration/mqtt_configuration.rs
  rust/src/client/configuration/telemetry_configuration.rs
  rust/src/exchange/etsi/mobile_perceived_object.rs
  rust/src/transport/mqtt.rs
  rust/src/transport/mqtt/geo_topic.rs
  rust/src/transport/mqtt/mqtt_client.rs
  rust/src/transport/mqtt/mqtt_router.rs
  rust/src/transport/mqtt/str_topic.rs
Labels: Rust

#342 swift: add ETSI entities
  swift/ITSClient/Package.swift
  swift/ITSClient/Sources/ITSMobility/Models/CAM/BasicContainer.swift
  swift/ITSClient/Sources/ITSMobility/Models/CAM/CAM.swift
  swift/ITSClient/Sources/ITSMobility/Models/CAM/CAMMessage.swift
  swift/ITSClient/Sources/ITSMobility/Models/CAM/HighFrequencyContainer.swift
  swift/ITSClient/Sources/ITSMobility/Models/CAM/LowFrequencyContainer.swift
  swift/ITSClient/Sources/ITSMobility/Models/Confidence.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/AlacarteContainer.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/DENM.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/DENMMessage.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/LocationContainer.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/ManagementContainer.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/Position.swift
  swift/ITSClient/Sources/ITSMobility/Models/DENM/SituationContainer.swift
  swift/ITSClient/Sources/ITSMobility/Models/ETSI.swift
  swift/ITSClient/Sources/ITSMobility/Models/MessageType.swift
  swift/ITSClient/Sources/ITSMobility/Models/Origin.swift
  swift/ITSClient/Sources/ITSMobility/Models/PathHistory.swift
  swift/ITSClient/Sources/ITSMobility/Models/SequenceNumberGenerator.swift
  swift/ITSClient/Sources/ITSMobility/Models/StationType.swift
  swift/ITSClient/Tests/ITSClient-UnitTests.xctestplan
  swift/ITSClient/Tests/ITSMobilityTests/CAMTests.swift
  swift/ITSClient/Tests/ITSMobilityTests/DENMTests.swift
  swift/ITSClient/Tests/ITSMobilityTests/Data/Cam.json
  swift/ITSClient/Tests/ITSMobilityTests/Data/Denm.json
  swift/ITSClient/Tests/ITSMobilityTests/FileLoader.swift
Labels: Swift

#344 python: add DENM subcause
  python/iot3/pyproject.toml
  python/iot3/src/iot3/mobility/__init__.py
  python/iot3/src/iot3/mobility/cpm.py
  python/iot3/src/iot3/mobility/denm.py
  python/iot3/src/iot3/mobility/etsi.py
  python/iot3/tests/test-iot3-mobility
  python/iot3/tests/test-iot3-mobility-message
  python/its-info/pyproject.toml
  python/its-interqueuemanager/pyproject.toml
  python/its-status/pyproject.toml
  python/its-vehicle/pyproject.toml
Labels: Python

#346 github: make PR templates somewhat usable
  .github/PULL_REQUEST_TEMPLATE/README
  .github/pull_request_template.md
Labels: documentation

#350 Add file exporter collector
  .github/PULL_REQUEST_TEMPLATE/python.md
  .github/PULL_REQUEST_TEMPLATE/rust.md
  .github/pull_request_template.md
  .github/workflows/codeql-analysis.yml
  .github/workflows/rust-crates.yml
  .github/workflows/rust-doc.yml
  .github/workflows/rust.yml
  rust/Cargo.toml
  rust/README.md
  rust/examples/collector.rs
  rust/examples/config.ini
  rust/examples/copycat.rs
  rust/examples/json_counter.rs
  rust/examples/telemetry.rs
  rust/src/client.rs
  rust/src/client/configuration.rs
  rust/src/client/logger.rs
Labels: Rust

#364 swift: region of interest
  swift/ITSClient/Sources/ITSMobility/Mobility.swift
  swift/ITSClient/Sources/ITSMobility/RegionOfInterest/RegionOfInterest.swift
  swift/ITSClient/Sources/ITSMobility/RegionOfInterest/RegionOfInterestCoordinator.swift
  swift/ITSClient/Tests/ITSClient-IntegrationTests.xctestplan
  swift/ITSClient/Tests/ITSMobilityTests/RegionOfInterestCoordinatorTests.swift
Labels: Swift

#368 rust: fix MQTT disconnection handling
  rust/src/client/application/pipeline.rs
Labels: Rust

#374 swift: fix memory leaks in nested closures
  swift/ITSClient/Sources/ITSCore/Core.swift
  swift/ITSClient/Sources/ITSCore/MQTT/MQTTNIOClient.swift
  swift/ITSClient/Tests/ITSCoreTests/MQTTNIOClientTests.swift
Labels: Swift
