Repository Orange-OpenSource/its-client, pull requests merged in 2025-03, with the labels that each got.

#295 schema/bootstrap: new schema
  .editorconfig
  .github/workflows/schema.yml
  schema/bootstrap/bootstrap_schema_2-0-0.json
  schema/cpm/cpm_schema_1-2-0.json
  schema/cpm/cpm_schema_1-2-1.json
  schema/cpm/cpm_schema_2-0-0.json
  schema/denm/denm_schema_2-1-0.json
  schema/information/information_schema_1-0-3.json
  schema/information/information_schema_1-0-6.json
  schema/information/information_schema_1-1-0.json
  schema/mapem/mapem_schema_2-0-0.json
  schema/neighbourhood/neighbourhood_schema_1-0-0.json
  schema/neighbourhood/neighbourhood_schema_2-0-0.json
  schema/region/region_schema_1-0-0.json
  schema/region/region_schema_2-0-0.json
  schema/status/status_schema_1-0-0.json
  schema/status/status_schema_1-1-0.json
  schema/status/status_schema_1-2-0.json
  schema/status/status_schema_2-0-0.json
Labels: Schema

#297 rust: upgrade dependencies
  rust/Cargo.lock
  rust/Cargo.toml
  rust/README.md
  rust/benches/position.rs
  rust/examples/config.ini
  rust/examples/copycat.rs
  rust/examples/json_counter.rs
  rust/examples/telemetry.rs
  rust/src/client/application.rs
  rust/src/client/application/pipeline.rs
  rust/src/client/bootstrap.rs
  rust/src/client/configuration.rs
  rust/src/client/configuration/node_configuration.rs
  rust/src/exchange.rs
  rust/src/exchange/cause.rs
  rust/src/exchange/etsi.rs
  rust/src/exchange/etsi/collective_perception_message.rs
  rust/src/exchange/etsi/cooperative_awareness_message.rs
  rust/src/exchange/etsi/decentralized_environmental_notification_message.rs
  rust/src/exchange/etsi/map_extended_message.rs
  rust/src/exchange/etsi/mobile_perceived_object.rs
  rust/src/exchange/etsi/reference_position.rs
  rust/src/exchange/etsi/signal_phase_and_timing_extended_message.rs
  rust/src/mobility/position.rs
  rust/src/mobility/quadtree.rs
  rust/src/mobility/quadtree/quadkey.rs
  rust/src/monitor.rs
  rust/src/transport/mqtt/geo_topic.rs
  rust/src/transport/mqtt/mqtt_client.rs
  rust/src/transport/mqtt/mqtt_router.rs
  rust/src/transport/packet.rs
  rust/src/transport/telemetry.rs
Labels: Rust

#310 java: add raw message callback
  java/iot3/examples/src/main/java/com/orange/Iot3MobilityBootstrapExample.java
  java/iot3/examples/src/main/java/com/orange/Iot3MobilityExample.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/IoT3Mobility.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/IoT3RawMessageCallback.java
Labels: Java

#308 python: handle retain in IoT3 SDK, allow filtering in IQM
  python/iot3/src/iot3/core/mqtt.py
  python/its-interqueuemanager/its-iqm.cfg
  python/its-interqueuemanager/src/its_iqm/filters.py
  python/its-interqueuemanager/src/its_iqm/iqm.py
  python/its-interqueuemanager/src/its_iqm/main.py
Labels: Python

#311 rust: add mobile_id in Exchange::PathElement
  rust/src/exchange.rs
Labels: Rust

#325 java: add MQTT auto reconnect to IoT3 Core
  java/iot3/core/src/main/java/com/orange/iot3core/IoT3Core.java
  java/iot3/core/src/main/java/com/orange/iot3core/clients/MqttClient.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/IoT3Mobility.java
Labels: Java

#318 python/iot3: fix MQTT subscriptions
  python/iot3/src/iot3/core/mqtt.py
  python/iot3/tests/test-iot3-core
  python/iot3/tests/test-iot3-core-all
  python/iot3/tests/test-iot3-core-mqtt
Labels: Python

#301 swift: measure the time in the client code when a message is received
  swift/ITSClient/Sources/ITSCore/Core.swift
  swift/ITSClient/Tests/ITSCoreTests/CoreTests.swift
  swift/ITSClient/Tests/ITSCoreTests/CoreUnitTests.swift
Labels: Swift

#303 swift: add mobility library
  swift/ITSClient/Package.swift
  swift/ITSClient/Sources/ITSMobility/Mobility.swift
Labels: Swift

#334 Java/iot3mobility: expose ITS objects lists
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/IoT3Mobility.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/managers/RoadHazardManager.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/managers/RoadSensorManager.java
  java/iot3/mobility/src/main/java/com/orange/iot3mobility/managers/RoadUserManager.java
Labels: Java

#335 github: add PR template for Python
  .github/PULL_REQUEST_TEMPLATE/python.md
  .github/workflows/python.yml
  python/requirements-tests.txt
  tests/data/NMEA.log
Labels: documentation, Python
